/* global style  */
body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}
/* main style  */
#all-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* border: 1px solid black; */
  text-align: center;
  width: 100%;
  margin: auto;
  align-items: center;
  justify-content: center;
}
.single-product {
  padding: 10px;
  margin: 5px;
  transition: 0.6s;
  border-radius: 10px;
  height: 100%;
  background-color: white;
  border : 1px solid #44318d;
}
.single-product:hover {
  box-shadow: 4px 4px 7px gray;
  border-radius: 10px;
  border: none;
  background-color: #4285f4;
  color: white;
}
.product-image {
  width: 150px;
  height: 150px;
}
.cart {
  width: 350px;
  border: 1px solid green;
  padding: 10px;
  box-shadow: 10px 10px 20px gray;
  border-radius: 5px;
  margin-right: 30px;
  position: fixed;
}
.cart-main {
  padding-right: 30px;
}
.rating-count{
  color: 	#e95c20ff;
}
.cart-btn {
  background-color: #ff652f;
  color: white;
  outline: none;
  border-radius: 7px;
  padding: 7px 15px;
  border: none;
}
.cart-btn:hover{
  background: linear-gradient(to right, #f12711, #f5af19);
}
.details-btn{
  background-color: #d83f87;
  color: white;
  outline: none;
  border-radius: 7px;
  padding: 7px 15px;
  border: none;
}

/* media query */
@media only screen and (max-width: 768px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .cart {
    width: 300px;
    /* border: 1px solid green; */
    padding: 10px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 5px;
    margin-right: 30px;
    position: fixed;
  }
  .cart-main {
    padding-right: 10px;
  }
}
@media only screen and (max-width: 468px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
